ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #181825;
}

li {
    display: inline;
    float: left;
    background-color: #181825;
}

li a {
    display: block;
    color: #cba6f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #eba0ac;
}

navbar-wrapper {
    background-color: #181825;
}
